name: Main CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  pull-requests: write
  contents: read

jobs:
  all-status-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - find-go-projects
      - yaml-lint
      - action-lint
      - dotenv-lint
      - migrate-check
      - golang-build-check
      - golang-vet-check
      - golang-fmt-check
      - golang-lint-check
      - golang-test-comment-check
      - golang-test-check
      - golang-generate-check
      - dockerfile-lint
      - docker-compose-build-check
      - ko-build-check
    steps:
      - uses: actions/checkout@v6
      - name: Check all-status-check
        run: |
          diff \
            <(yq ".jobs | del(.all-status-check) | keys.[]" .github/workflows/akari-ci.yml) \
            <(yq ".jobs.all-status-check.needs.[]" .github/workflows/akari-ci.yml)
      - name: All status check
        run: echo "All status check passed"

  find-go-projects:
    runs-on: ubuntu-latest
    outputs:
      projects: ${{ steps.get-projects.outputs.projects }}
    steps:
      - uses: actions/checkout@v6
      - name: Find Go projects
        id: get-projects
        run: |
          PROJECTS="$(find . -name "go.mod" -exec dirname {} \; | jq -Rsc 'split("\n")[:-1]')"
          echo "projects=$PROJECTS" >> "$GITHUB_OUTPUT"

  yaml-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-yamllint@f01d8a48fd8d89f89895499fca2cff09f9e9e8c0 # v1.21.0
        with:
          level: warning
          yamllint_flags: "-c .yamllint ."
          fail_on_error: true

  action-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
        with:
          level: warning
          fail_on_error: true

  dotenv-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: dotenv-linter/action-dotenv-linter@21287e2624aaf2dc8da5dd8ccfe8e49c63501116 # v2.25.0
        with:
          dotenv_linter_flags: --skip UnorderedKey
          fail_on_error: true

  migrate-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: akari
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          ref: ${{ github.base_ref }}
      - uses: ./.github/actions/setup-golang
      - uses: ariga/setup-atlas@1ffa6444093025c9791791f0de623560359acd02 # v0
      - name: Run `make init` (base branch)
        run: make init
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Start DB container
        run: |
          docker compose build akari-db akari-db-side
          docker compose up -d --no-build akari-db akari-db-side
      - name: Apply migrations (base branch)
        run: make migrate-apply
      - name: Checkout PR branch
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - name: Run `make init` (PR branch)
        run: make init
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14.2"
      - name: Setup sqlfluff
        run: |
          pip install sqlfluff
      - name: Validate migration
        run: make migrate-validate
      - name: Run migration dry-run
        id: migration-run
        run: |
          set +e
          MIGRATE_OUT=$(make migrate-dry-run 2>&1)
          MIGRATE_OUT=$(echo "$MIGRATE_OUT" | grep -v "No migration files to execute")
          if echo "$MIGRATE_OUT" | sqlfluff fix - --dialect postgres > /tmp/migrate_formatted.sql 2>/dev/null; then
            MIGRATE_OUT=$(cat /tmp/migrate_formatted.sql)
          fi
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          {
            echo "comment<<$EOF"
            if [ -n "$MIGRATE_OUT" ]; then
              printf "# Migration dry run\n\n"
              printf "<details>\n"
              printf "<summary>SQL queries to be executed</summary>\n"
              printf "\n\`\`\`sql\n\n"
              echo "$MIGRATE_OUT"
              printf "\n\`\`\`\n\n"
              printf "</details>\n"
            fi
            echo "$EOF"
          } >> "$GITHUB_ENV"
      - name: Run migration
        run: make migrate-apply
      - name: Create PR comment
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        if: ${{ env.comment != '' }}
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ github.event.pull_request.number }}
          header: migration-check
          message: ${{ env.comment }}

  golang-build-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: akari
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - name: Run go build
        run: make build

  golang-vet-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: find-go-projects
    strategy:
      matrix:
        dir: ${{ fromJson(needs.find-go-projects.outputs.projects) }}
      fail-fast: false
    defaults:
      run:
        working-directory: ${{ matrix.dir }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
        with:
          working-directory: ${{ matrix.dir }}
      - name: Run go vet
        run: make vet

  golang-fmt-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: find-go-projects
    strategy:
      matrix:
        dir: ${{ fromJson(needs.find-go-projects.outputs.projects) }}
      fail-fast: false
    defaults:
      run:
        working-directory: ${{ matrix.dir }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
        with:
          working-directory: ${{ matrix.dir }}
      - name: Run go fmt
        run: make fmt
      - name: Check diff
        run: |
          if [[ $(git status --porcelain) ]]; then
            git status --porcelain
            git diff
            exit 1
          fi

  golang-lint-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: find-go-projects
    strategy:
      matrix:
        dir: ${{ fromJson(needs.find-go-projects.outputs.projects) }}
      fail-fast: false
    defaults:
      run:
        working-directory: ${{ matrix.dir }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
        id: setup-go
        with:
          working-directory: ${{ matrix.dir }}
      - name: Get versions and install golangci-lint
        id: versions
        run: |
          echo "go_version=$(go version)" >> "$GITHUB_OUTPUT"
          go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
          echo "gcl_version=$(golangci-lint --version | sed 's/,/./g')" >> "$GITHUB_OUTPUT"
      - name: Cache custom-gcl
        id: cache-custom-gcl
        uses: actions/cache@v5
        with:
          path: ./custom-gcl
          key: ${{ runner.os }}-${{ steps.versions.outputs.go_version }}-${{ steps.versions.outputs.gcl_version }}-${{ hashFiles('.custom-gcl.yml') }}
      - name: Run `make lint`
        run: |
          make lint

  golang-test-comment-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: akari
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - uses: ./.github/actions/setup-db
      - name: Run go test
        id: golang-test
        run: |
          go test ./... -coverprofile=coverage.out -coverpkg=./...
        continue-on-error: true
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Error check
        if: ${{ steps.golang-test.outcome != 'success' }}
        run: exit 1

  golang-test-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        run: [1, 2, 3]
    defaults:
      run:
        working-directory: akari
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - uses: ./.github/actions/setup-db
      - name: Set up gotestfmt
        uses: gotesttools/gotestfmt-action@8b4478c7019be847373babde9300210e7de34bfb # v2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run go test
        id: golang-test
        run: |
          set +e
          TEST_OUT=$(go test -json -v ./... 2>&1)
          TEST_EXIT=$?
          echo "$TEST_OUT" | tee /tmp/gotest.log | gotestfmt
          exit "$TEST_EXIT"
        continue-on-error: true
      - uses: actions/upload-artifact@v6
        with:
          name: test-log-${{ matrix.run }}
          path: /tmp/gotest.log
          if-no-files-found: error
      - name: Error check
        if: ${{ steps.golang-test.outcome != 'success' }}
        run: exit 1

  golang-generate-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: find-go-projects
    strategy:
      matrix:
        dir: ${{ fromJson(needs.find-go-projects.outputs.projects) }}
      fail-fast: false
    defaults:
      run:
        working-directory: ${{ matrix.dir }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
        with:
          working-directory: ${{ matrix.dir }}
      - uses: ./.github/actions/setup-db
      - name: Run go generate
        id: golang-generate
        run: |
          make generate
          if ! git diff --quiet; then
            git diff
            exit 1
          fi

  dockerfile-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: Dockerfile
          recursive: true
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: Dockerfile.*
          recursive: true

  docker-compose-build-check:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6
      - name: Build Docker images
        run: |
          docker compose build

  ko-build-check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: akari
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - name: Install ko
        uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
      - name: Run go generate
        run: make generate
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build with ko
        env:
          KO_DOCKER_REPO: ko.local/akari
        run: |
          IMAGE="$(ko build --bare ./cmd/akari)"
          echo "Built image: ${IMAGE}"
          docker images | grep akari || true
