name: Main CI

on:
  pull_request:
    branches:
      - "main"

permissions:
  pull-requests: write
  contents: read

defaults:
  run:
    working-directory: ./akari

jobs:
  all-status-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - yaml-lint
      - action-lint
      - dotenv-lint
      - migrate-check
      - golang-build-check
      - golang-vet-check
      - golang-fmt-check
      - golang-lint-check
      - golang-test-comment-check
      - golang-test-check
      - golang-generate-check
    defaults:
      run:
        working-directory: ./
    steps:
      - uses: actions/checkout@v5
      - name: Check all-status-check
        run: |
          diff \
            <(yq ".jobs | del(.all-status-check) | keys.[]" .github/workflows/akari-ci.yml) \
            <(yq ".jobs.all-status-check.needs.[]" .github/workflows/akari-ci.yml)
      - name: All status check
        run: echo "All status check passed"

  yaml-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - uses: reviewdog/action-yamllint@f01d8a48fd8d89f89895499fca2cff09f9e9e8c0 # v1.21.0
        with:
          level: warning
          yamllint_flags: "-c .yamllint ."
          fail_on_error: true

  action-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1.68.0
        with:
          level: warning
          fail_on_error: true

  dotenv-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - uses: dotenv-linter/action-dotenv-linter@21287e2624aaf2dc8da5dd8ccfe8e49c63501116 # v2.25.0
        with:
          dotenv_linter_flags: --skip UnorderedKey
          fail_on_error: true

  migrate-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
          ref: ${{ github.base_ref }}
      - uses: ./.github/actions/setup-golang
      - uses: ariga/setup-atlas@4240bd74ba9f13319a21de2b6e497f2b6d184d76 # v0
      - name: Run `make init` (base branch)
        run: make init
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Start DB container
        run: |
          docker compose build akari-db akari-db-side
          docker compose up -d --no-build akari-db akari-db-side
      - name: Apply migrations (base branch)
        run: make migrate-apply
      - name: Checkout PR branch
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Run `make init` (PR branch)
        run: make init
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Setup sqlfluff
        run: |
          pip install sqlfluff
      - name: Validate migration
        run: make migrate-validate
      - name: Run migration dry-run
        id: migration-run
        run: |
          set +e
          MIGRATE_OUT=$(make migrate-dry-run 2>&1)
          MIGRATE_OUT=$(echo "$MIGRATE_OUT" | grep -v "No migration files to execute")
          if echo "$MIGRATE_OUT" | sqlfluff fix - --dialect postgres > /tmp/migrate_formatted.sql 2>/dev/null; then
            MIGRATE_OUT=$(cat /tmp/migrate_formatted.sql)
          fi
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          {
            echo "comment<<$EOF"
            if [ -n "$MIGRATE_OUT" ]; then
              printf "# Migration dry run\n\n"
              printf "<details>\n"
              printf "<summary>SQL queries to be executed</summary>\n"
              printf "\n\`\`\`sql\n\n"
              echo "$MIGRATE_OUT"
              printf "\n\`\`\`\n\n"
              printf "</details>\n"
            fi
            echo "$EOF"
          } >> "$GITHUB_ENV"
      - name: Run migration
        run: make migrate-apply
      - name: Create PR comment
        uses: marocchino/sticky-pull-request-comment@331f8f5b4215f0445d3c07b4967662a32a2d3e31 # v2.9.0
        if: ${{ env.comment != '' }}
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ github.event.pull_request.number }}
          header: migration-check
          message: ${{ env.comment }}

  golang-build-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - name: Run go build
        run: make build

  golang-vet-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - name: Run go vet
        run: make vet

  golang-fmt-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - name: Run go fmt
        run: make fmt
      - name: Check diff
        run: |
          if [[ $(git status --porcelain) ]]; then
            git status --porcelain
            git diff
            exit 1
          fi

  golang-lint-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
        id: setup-go
      - name: Get versions and install golangci-lint
        id: versions
        run: |
          echo "go_version=$(go version)" >> "$GITHUB_OUTPUT"
          go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
          echo "gcl_version=$(golangci-lint --version | sed 's/,/./g')" >> "$GITHUB_OUTPUT"
      - name: Cache custom-gcl
        id: cache-custom-gcl
        uses: actions/cache@v4
        with:
          path: ./custom-gcl
          key: ${{ runner.os }}-${{ steps.versions.outputs.go_version }}-${{ steps.versions.outputs.gcl_version }}-${{ hashFiles('.custom-gcl.yml') }}
      - name: Run `make lint`
        run: |
          make lint

  golang-test-comment-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - uses: ./.github/actions/setup-db
      - name: Run go test
        id: golang-test
        run: |
          set +e
          TEST_OUT=$(go test ./... -coverpkg=./...)
          TEST_EXIT_CODE=$?
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          {
            echo "comment<<$EOF"
            printf "# Test coverage\n\n"
            if [ "$TEST_EXIT_CODE" -eq 0 ]; then
              printf ":white_check_mark: All tests passed successfully.\n\n"
              printf "| Status | Package | Time | Coverage |\n"
              printf "|--------|---------|------|----------|\n"
              echo "$TEST_OUT" | sed -E "s/^\?\s+/?:/g; s/^ok\s+/ok:/g; s/^\s/:/g; s/\s+/ /g; s/coverage:/::/g; s/([0-9.]+)s\s::/\:\1s\:/g; s/ of statements//g;" | sed  -e "s/in .\/...//g" | awk -F'[:]' '{ print "| " $1 " | " $2 " | " $3 " |" $4 " |"}'
            else
              printf ":red_circle: Some tests failed.\n\n"
              printf "<details>\n"
              printf "<summary>go test result</summary>\n"
              printf "\n\`\`\`\n\n"
              echo "$TEST_OUT"
              printf "\n\`\`\`\n\n"
              printf "</details>\n"
            fi
            echo "$EOF"
          } >> "$GITHUB_ENV"
          exit "$TEST_EXIT_CODE"
        continue-on-error: true
      - name: Create PR comment
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ github.event.pull_request.number }}
          header: golang-test
          message: ${{ env.comment }}
      - name: Error check
        if: ${{ steps.golang-test.outcome != 'success' }}
        run: exit 1

  golang-test-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        run: [1, 2, 3]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - uses: ./.github/actions/setup-db
      - name: Set up gotestfmt
        uses: gotesttools/gotestfmt-action@8b4478c7019be847373babde9300210e7de34bfb # v2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run go test
        id: golang-test
        run: |
          set +e
          TEST_OUT=$(go test -json -v ./... 2>&1)
          TEST_EXIT=$?
          echo "$TEST_OUT" | tee /tmp/gotest.log | gotestfmt
          exit "$TEST_EXIT"
        continue-on-error: true
      - uses: actions/upload-artifact@v4
        with:
          name: test-log-${{ matrix.run }}
          path: /tmp/gotest.log
          if-no-files-found: error
      - name: Error check
        if: ${{ steps.golang-test.outcome != 'success' }}
        run: exit 1

  golang-generate-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - uses: ./.github/actions/setup-db
      - name: Run go generate
        id: golang-generate
        run: |
          make generate
          if ! git diff --quiet; then
            git diff
            exit 1
          fi
