name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      release-created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Release please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          release-type: simple

  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: release-please
    if: ${{ needs.release-please.outputs.release-created }}
    environment: deploy
    defaults:
      run:
        working-directory: ./akari
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
      - name: Run go generate
        run: make generate
      - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push with ko
        env:
          KO_DOCKER_REPO: ghcr.io/${{ github.repository }}
          KOSCHEME: github.com
        run: |
          TAGS=""
          if [[ "$GITHUB_REF" =~ ^refs/tags/ ]]; then
            TAGS="--tags=$GITHUB_REF_NAME,latest"
          elif [[ "$GITHUB_REF" == "refs/heads/main" ]]; then
            TAGS="--tags=main,$GITHUB_SHA"
          else
            TAGS="--tags=$GITHUB_REF_NAME,$GITHUB_SHA"
          fi
          IMAGE="$(ko build --bare "$TAGS" ./cmd/akari)"
          echo "Built image: ${IMAGE}"
          docker images | grep akari || true
